.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 70%;
    height: 550px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.singlePostTitle{
    text-align: center;
    font-family: "Lora", serif;
    margin: 10px;
    font-size: 28px;
}

.singlePostTitleInput{
    text-align: center;
    font-family: "Lora", serif;
    margin: 10px;
    font-size: 28px;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus{
    outline: none;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
}

.singlePostDesc{
    color: #666;
    font-size: 16px;
    line-height: 23px;
}

.singlePostDescInput{
    border: none;
    color: #666;
    font-size: 16px;
    line-height: 23px;
    height: 400px;
}

.singlePostDescInput:focus{
    outline: none;
}

.singlePostButton{
    width: 100px;
    height: 40px;
    font-size: 17.5px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}

.demo {
    background-color: #f9f9f9;
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    margin: 2rem 0 3rem;
    border-radius: 0.25rem;
  }
  
  @media (max-width: 767.98px) {
    .demo {
      padding: 1rem;
    }
  }